<form>
  <div class="form-group form-inline">
    <div class="d-flex justify-content-left align-items-center">
      <nz-input-group [nzPrefix]="prefixTemplate">
        <input type="text" nz-input placeholder="Search" name="searchString" [(ngModel)]="searchString"/>
      </nz-input-group>
      <button type="button" nz-button nzType="default" (click)="lookupUser()"><i nz-icon nzType="search" ></i></button>
      <ng-template #prefixTemplate><i nz-icon nzType="search"></i></ng-template>
    </div>
  </div>
  <div class="kit__utils__table">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Company Name</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of contacts" (click)="onSelectedContact(contact)">
          <td class="align-middle"><ngb-highlight [result]="contact.FirstName+' '+contact.LastName"></ngb-highlight></td>
          <td class="align-middle"><ngb-highlight [result]="contact.CompanyName"></ngb-highlight></td>
          <td>
            <button type="button" class="btn btn-light" (click)="onSelectedContact(contact)">
              <i class="fe fe-arrow-right"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>  
  <app-list-status [listStatus]=listStatus.asObservable()></app-list-status>
</form>